html {
	box-sizing: border-box;
}



*, *:before, *:after { 
	box-sizing: inherit;
} 

body {
	color: Black;
	background-color: Green;
	font-family: "Helvetica Nue", sans-serif;
}

.container {
	max-width: 60em;

}

.navbar-nav {
	float: right;
	margin-right: 6em;
}

li > a {
	color: #fff;
}

.active {
	font-weight: bold;
}



li {
	padding: .5em;
	
}

.jumbotron {
	height: 45em;
	background: url("startup-new/images/first-background-copy.jpg") no-repeat; 
	color: LightGrey;
}

.cases {
	text-align: center;
}