html {
	box-sizing: border-box;
}

*, *:before, *:after { 
	box-sizing: inherit;
} 

body {
	color: Black;
	font-family: 'Roboto', "Helvetica Nue", sans-serif;
}

.container {
	max-width: 60em;

}

.navbar-nav {
	float: right;
	margin-right: 6em;
}

nav img {
	margin-left: 3em;
	width: 1.5em;
}

li > a {
	color: #fff;
}

.active {
	font-weight: bold;
}



li {
	padding: .5em;
	
}

.jumbotron {
	height: 45em;
	background: url("../images/first-background-copy.jpg") no-repeat center;
	background-size: cover; 
	color: LightGrey;
}

.jumbo-cont {
	margin-top: 4em;
}

.btn-lg:hover {
	background-image: linear-gradient(to bottom,#EBB386,#EBE7E4 100%);
	background-position: 0;
	color: Black; 
}

.cases {
	text-align: center;
	margin-bottom: 7em;
}

.cases > .container {
	padding-bottom: 4em;
	border-bottom: 1px solid LightGrey;
}

footer {
	text-align: center;
}

.icons {
	margin-right: 3em;
}

.icons > li {
	display: inline-block;
	border: 1px solid LightGrey;
	padding: .5em;
	margin: .5em;
	border-radius: 7em; 
}

.fa-facebook {
	padding: 0em .2em;

}

@media(max-width: 768px) {
	nav img {
		width: 1em;
	}
}

